

.card {
  img {
    object-fit: cover;
  }
  a {
    color: beige;
    text-decoration: none;
  }
} 

a {
  color: beige;
  text-decoration: none;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}