
.card-img-overlay
{
 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(233, 253, 240, 0))
}

.card {
  img {
    object-fit: cover;
    
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: beige
  }
} 

a {
  color: beige;
  text-decoration: none;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}